---
import Layout from "../../layouts/Layout.astro";
import LoginForm from "@/components/auth/LoginForm";
---

<Layout title="Login">
  <div class="flex items-center justify-center min-h-[calc(100vh-theme(spacing.24))]">
    <LoginForm client:load />
  </div>
</Layout>
