---
import Layout from "../../layouts/Layout.astro";
import RecoverPasswordForm from "@/components/auth/RecoverPasswordForm";
---

<Layout title="Recover Password">
  <div class="flex items-center justify-center min-h-[calc(100vh-theme(spacing.24))]">
    <RecoverPasswordForm client:load />
  </div>
</Layout>
