---
import Layout from "../../layouts/Layout.astro";
import RegistrationForm from "@/components/auth/RegistrationForm";
---

<Layout title="Register">
  <div class="flex items-center justify-center min-h-[calc(100vh-theme(spacing.24))]">
    <RegistrationForm client:load />
  </div>
</Layout>
