---
// Automatic redirect to the flashcards generation page
---

<meta http-equiv="refresh" content="0;url=/generate" />

<script>
  window.location.href = "/generate";
</script>

<noscript>
  <p>Przekierowanie na <a href="/generate">stronę generowania fiszek</a>.</p>
</noscript>
