---
import BaseLayout from "./BaseLayout.astro";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<BaseLayout title={title}>
  <main class="flex items-center justify-center min-h-screen bg-gray-100 dark:bg-gray-900">
    <slot />
  </main>
</BaseLayout>
