---
import Layout from "./Layout.astro";
import { Button } from "@/components/ui/button";

// TODO: Add middleware logic check here or in middleware file
// import { Astro } from 'astro';
// if (!Astro.locals.user) {
// 	return Astro.redirect('/auth/login');
// }

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<Layout title={title}>
  <header class="bg-background border-b sticky top-0 z-50 w-full">
    <nav class="flex items-center justify-end h-14 w-full px-4 md:px-6">
      <form action="/api/auth/logout" method="post">
        <Button variant="outline" size="sm" type="submit">Logout</Button>
      </form>
    </nav>
  </header>
  <main class="p-4 container">
    <slot />
  </main>
  <footer class="py-6 md:px-8 md:py-0 border-t">
    <div class="container flex flex-col items-center justify-between gap-4 md:h-24 md:flex-row">
      <p class="text-balance text-center text-sm leading-loose text-muted-foreground md:text-left">
        Built with Astro & Shadcn UI.
      </p>
    </div>
  </footer>
</Layout>
